html {
  background: url(../assets/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: f6c582;
}
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.button {
  background-color: black;
  color: white;
  border:none;
  padding: 15px;
  border-radius: 5px;
  font-size: 18px;
}

.page-image, .page-words {
  width: 200px;
}

.background {
  width: 900px;
  height: 700px;
  position: relative;
  z-index: 1;
  border: 1px solid;
}

.title {
  width: 300px;
  height: 50px;
  top: 20px;
  left: 300px;
  text-align: center;
  position: absolute;
  z-index: 20;
  border: 0.5px solid;
  background-color: yellow;
}

.book {
  width: 780px;
  height: 400px;
  left: 70px;
  top: 80px;
  border: 1px solid;
  position: absolute;
  z-index: 10;
  background-color: blue;
}

.left-page-text {
  position: absolute;
  left: 100px;
  top: 100px;
  width: 320px;
  height: 200px;
  border: 0.5px solid;
  z-index: 13;
  text-align: center;
  background-color: green;
  overflow: scroll;
}

.right-page-text {
  position: absolute;
  left: 490px;
  top: 100px;
  width: 320px;
  height: 200px;
  border: 0.5px solid;
  z-index: 13;
  text-align: center;
  background-color: green;
  overflow: scroll;
}

.left-page-image {
  position: absolute;
  left: 100px;
  top: 300px;
  width: 320px;
  height: 150px;
  border: 0.5px solid;
  z-index: 13;
  text-align: center;
  background-color: aqua;
}

.right-page-image {
  position: absolute;
  left: 490px;
  top: 300px;
  width: 320px;
  height: 150px;
  border: 0.5px solid;
  z-index: 13;
  text-align: center;
  background-color: aqua;
}

.prev-button {  
  left: 20px;
  top: 250px;
  position: absolute;
  z-index: 15;
}

.next-button {
  left: 865px;
  top: 250px;
  position: absolute;
  z-index: 15;
}

.webcam{
  left:20px;
  top: 500px;
  position: absolute;
  z-index: 20;
  width: 880px;
  height: 200px;
  background-color: red;
}

.video1 {
  position: absolute;
  z-index: 20;
  width: 200px;
  height: 170px;
  top: 520px;
  left: 230px;
  border: 0.5px solid;
  background-color: white;
  text-align: center;
}

.video2 {
  position: absolute;
  z-index: 20;
  width: 200px;
  height: 170px;
  top: 520px;
  left: 480px;
  border: 0.5px solid;
  background-color: white;
  text-align: center;
}

