@font-face {
  font-family:'TravelingTypewriter';
  src: url('../assets/TravelingTypewriter.otf');
}

body {
  background: url(../assets/cartoon-wallpaper.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  font-family: TravelingTypewriter, sans-serif;
}
.header {
  /*background-color: #d6c6a7;*/
  text-align: center;
}
.logo {
  margin: 10px 0px 0px 0px;
  position: absolute;
  top: 15px;
  left: 509px;
}

.title-and-author {
  text-align: center;
  margin-top: 0px;
  position: absolute;
  top: 77px;
  left: 567px;
}

.title {
  font-weight: bold;
}

.author {
  font-size: 16px;
  margin-bottom: 0;
}
.background {
  text-align: center;
  position: absolute;
  top: 150px;
  left: 500px;
  z-index: 1;
}

#book-background-image {
  width: 800px;
  height: 480px;
}

.button {
  border-style: none;
  padding: 15px;
  background-color: black;
  color: white;
  font-size: 18px;
}

.next-button {
  position: absolute;
  top: 350px;
  right: 60px;
}

.prev-button {
  position: absolute;
  top: 350px;
  left: 430px;
}

.left-page-text {
  z-index: 1000;
  width:313px;
  height:300px;
  position: absolute;
  top: 190px;
  left: 580px;
}

.left-page-image {
  z-index: 1000;
  text-align: center;
  position: absolute;
  left: 570px;
  top: 361px;
}

.page-image {
  width: 300px;
  border-radius: 15px;
}

.right-page-text {
  z-index: 1000;
  width: 313px;
  height: 300px;
  position: absolute;
  top: 190px;
  left: 940px;
}

.right-page-image {
  z-index: 1000;
  text-align: center;
  position: absolute;
  left: 935px;
  top: 350px;
}


#button-preview {
  border-style: none;
  color: white;
  background-color: black;
  font-size: 18px;
  padding: 10px;
  font-family: TravelingTypewriter, sans-serif;
  margin-bottom: 30px;
  position: absolute;
  top: 20px;
  left: 20px;
}

#button-invite {
  border-style: none;
  padding: 8px 10px 12px 10px;
  color: white;
  background-color: black;
  font-size: 18px;
  font-family: TravelingTypewriter, sans-serif;
  position: absolute;
  top: 80px; 
  left: 20px;

}

#webcam-features {
  margin: 0 auto;
  text-align: center;
}

#invite-to {
  width: 300px; 
  height: 39px;
  position: absolute;
  top: 79px;
  left: 100px;
}

input {
  text-align: center;
  font-family: TravelingTypewriter, sans-serif;
  font-size: 18px;
}

#invite-section {
  padding-left: 10px;
}

::-webkit-input-placeholder {
  font-family: TravelingTypewriter, sans-serif;  
  font-size: 18px;
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  font-family: TravelingTypewriter, sans-serif;  
  font-size: 18px;
  text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
  font-family: TravelingTypewriter, sans-serif;  
  font-size: 18px;
  text-align: center;
}

:-ms-input-placeholder {  
  font-family: TravelingTypewriter, sans-serif;  
  font-size: 18px;
  text-align: center;
}

#webcam-wrapper {
  vertical-align: top;
  width: 700px;
  margin: 0 auto;
}

.media-container {
}

.local-webcam > video { 
  width: 230px;
  position: absolute;
  top: 200px;
  left: 20px;
  border-radius: 15px;
}

#your-username {
  position: absolute;
  top: 150px;
  left: 25px;
}

.remote-webcam > video {
  width: 230px;
  position: absolute;
  top: 390px;
  left: 20px;
  border-radius: 15px;
}

.canvas-container {
  position: absolute;
  top: 150px;
  left: 500px;
  z-index: 3000;
  width: 800px;
  height: 480px;
}